@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Inter', sans-serif;
  @apply bg-white;
}
body {
  @apply bg-white overflow-x-hidden font-normal text-grey-900 text-sm;
}

a,
a:hover,
a:focus,
i,
input,
button,
input:focus,
.transition {
  @apply no-underline outline-none transition-all duration-400 ease-in-out delay-0 shadow-none;
}
a {
  @apply text-black;
}

::-moz-selection,
::selection {
  @apply bg-black text-white;
}

img {
  @apply max-w-full h-auto border-none object-cover;
}

ul {
  @apply p-0 m-0;
}

figure {
  @apply m-0;
}
svg,
img {
  @apply max-w-full h-auto;
}

.c-container {
  @apply w-full mx-auto px-5 md:px-3;
}

@media (min-width: 768px) {
  .c-container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .c-container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .c-container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .c-container {
    max-width: 1320px;
  }
}

.heading {
  @apply inline-block font-bold text-black uppercase tracking-wider text-base mb-6 pb-2 border-b-[3px] border-b-primary border-solid;
}
.button {
  @apply inline-block uppercase text-xs leading-3 font-semibold tracking-[3px] text-primary px-2.5 md:px-8 py-3 md:py-4 rounded-full border-2 border-solid border-primary;
}
.button:hover {
  @apply bg-primary text-white;
}