@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Merriweather Regular'), local('Merriweather-Regular'), url(https://fonts.gstatic.com/l/font?kit=u-440qyriQwlOrhSvowK_l5OfixLV-fN-9jFE023MaBO0dSFTPXAhCGiQrDmS6Hz5gnztHO_QzJdSRySQZC3BtCsExbQIU43tCiwbmGjkfZvg7yGbdLLFHU6E9m1kRHqajjYrN7IgJMRtgCwhsk&skey=379c1eccf863c625&v=v21) format('woff2');
}
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Merriweather Bold'), local('Merriweather-Bold'), url(https://fonts.gstatic.com/l/font?kit=u-4n0qyriQwlOrhSvowK_l52xwNpWs39pvnbaFyqLalAo6z4T_DHgSKvTb3lTqb25RTsqXC6RDdeRiuneJWwA9OhHBvTJEkytzWvc2KmlvNsjAhQ1a-pVwlwUZf_w1-6OGGIzoei4v17xG7A9LC32y4&skey=76f88370d7055e09&v=v21) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/l/font?kit=mem8YaGs126MiZpBA-U1V5ccXcheV4e3oZvmbxG5_i_CrNbExI9Z2kRsBRpwivlBLGITzUtpROmJYNdMPbDJyRvXAp-XuPy0hT6sl49VvmA-sYg5CupR1svy7rM43eTqoLjTPMZ9WxlmTX0&skey=62c1cbfccc78b4b2&v=v17) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/l/font?kit=mem5YaGs126MiZpBA-UNirk-UOJuCqap2or7cxi3jFe_r9PDwYxU1UlvAB11ieReMWEWyk5qS968WdJLOLPExhbUB5iSu-GrmD2pkIpWsdToCfVbSZYblIW4vP1oj726wuG5XqgXKXcWPwTEJjc&skey=a162967ffaa5aa08&v=v17) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/l/font?kit=mem5YaGs126MiZpBA-UN7rg-UOJuCqap2or7cxi3jFe_r9PDwYxU1UlvAB11ieReMWEWyk5qS968WdJLOLPExhbUB5iSu-GrmD2pkIpWsdToCfVbSZYblIW4vP1oj726wuG5XqgXKXcWPwTEJjc&skey=cd9e1a36bb25a3c3&v=v17) format('woff2');
}